{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h3>{% trans 'My Project' %}</h3>

<ul>

    {% for project in object_list %}

        <li>

            {{ project.title }}

            <a href="{% url 'project_update' project.id %}">
                Edit
            </a>

            <a href="{% url 'project_delete' project.id %}">
                Delete
            </a>

        </li>

    {% empty %}

        <li>
            {% trans 'There are no projects to show' %}
        </li>

    {% endfor %}

</ul>

<a href="{% url 'project_create' %}">
    Add Project
</a>

{% endblock %}