{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}

{% block content %}

<div class="d-flex mb-4 align-items-center">

    <h3 class="me-auto">
        {% trans 'My Projects' %}
    </h3>

</div>

<div class="row my-5 g-4">

    {% for project in object_list %}

        <div class="col-md-6 col-lg-4">

            <div class="card mb-4 shadow-sm h-100 border-0">

                <div class="card-body">

                    <p>

                        <span class="badge rounded-pill bg-dark">

                            {{ project.get_status_display }}

                        </span>

                    </p>

                    <h3 class="card-title fs-5">

                        {{ project.title }}

                    </h3>

                    <p
                        class="card-text text-muted small"
                        style="min-height: 48px;"
                    >

                        {{ project.description }}

                    </p>

                    <div class=" d-flex align-items-center pt-3">

                        <span class="me-auto text-muted small">

                            <i class="bi bi-clock"></i>

                            <time datetime="{{ project.created_at }}">

                                {{ project.created_at|naturaltime }}

                            </time>

                        </span>

                        <a
                            href="{% url 'project_update' project.id %}"
                            class="btn btn-outline-dark btn-sm me-2"
                        >

                            Edit

                        </a>

                        <a
                            href="{% url 'project_delete' project.id %}"
                            class="btn btn-outline-danger btn-sm"
                        >

                            <i class="bi bi-trash"></i>

                        </a>

                    </div>

                </div>

            </div>

        </div>

    {% empty %}

<div class="col-12">

    <div class="card border-0 shadow-sm">

        <div class="card-body text-center py-5">

            <p class="text-muted mb-3">

                There are no projects to show

            </p>

            <div class="mb-4">

                <i class="bi bi-emoji-frown fs-1"></i>

            </div>

            <a
                href="{% url 'project_create' %}"
                class="btn btn-success"
            >

                <i class="bi bi-plus-lg"></i>

                New Project

            </a>

        </div>

    </div>

</div>

{% endfor %}

{% if page_obj.paginator.count > 0 %}

<div class="col-12">

    <nav aria-label="Page navigation">

        <ul class="pagination justify-content-center">

    {% if page_obj.has_previous %}

        <li class="page-item">

            <a
                class="page-link"
                href="?page=1"
            >
                First
            </a>

        </li>

        <li class="page-item">

            <a
                class="page-link"
                href="?page={{ page_obj.previous_page_number }}"
            >
                &laquo;
            </a>

        </li>

    {% else %}

        <li class="page-item disabled">

            <span class="page-link">

                First

            </span>

        </li>

        <li class="page-item disabled">

            <span class="page-link">

                &laquo;

            </span>

        </li>

    {% endif %}

    {% for num in page_obj.paginator.page_range %}

        {% if page_obj.number == num %}

            <li class="page-item active">

                <span class="page-link">

                    {{ num }}

                </span>

            </li>

        {% else %}

            <li class="page-item">

                <a
                    class="page-link"
                    href="?page={{ num }}"
                >

                    {{ num }}

                </a>

            </li>

        {% endif %}

    {% endfor %}

    {% if page_obj.has_next %}

        <li class="page-item">

            <a
                class="page-link"
                href="?page={{ page_obj.next_page_number }}"
            >
                &raquo;
            </a>

        </li>

        <li class="page-item">

            <a
                class="page-link"
                href="?page={{ page_obj.paginator.num_pages }}"
            >
                Last
            </a>

        </li>

    {% else %}

        <li class="page-item disabled">

            <span class="page-link">

                &raquo;

            </span>

        </li>

        <li class="page-item disabled">

            <span class="page-link">

                Last

            </span>

        </li>

    {% endif %}

</ul>

    </nav>

</div>

{% endif %}

</div>

{% endblock %}