{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}

{% block content %}

<nav aria-label="breadcrumb" class="mb-4">

    <ol class="breadcrumb">

        <li class="breadcrumb-item">

            <a href="{% url 'project_list' %}">

                Projects

            </a>

        </li>

        <li
            class="breadcrumb-item active"
            aria-current="page"
        >

            {{ object.title }}

        </li>

    </ol>

</nav>

<div class="row">

    <div class="col-md-4">

        <div class="card shadow-sm border-0">

            <form method="post">

                {% csrf_token %}

                <div class="card-body">

                    <h5 class="mb-4">

                        Project Details

                    </h5>

                    {% include 'common/form.html' with form=form %}

                    <div class="d-flex mt-4">

                        <span class="me-auto text-muted small">

                            <i class="bi bi-clock"></i>

                            <time datetime="{{ object.created_at }}">

                                {{ object.created_at|naturaltime }}

                            </time>

                        </span>

                    </div>

                </div>

                <div class="card-footer bg-white border-0">

                    <div class="d-grid gap-2">

                        <button class="btn btn-success">

                            <i class="bi bi-save"></i>

                            {% trans 'Save' %}

                        </button>

                        <a
                            href="{% url 'project_delete' object.id %}"
                            class="btn btn-danger w-100"
                        >

                            <i class="bi bi-trash"></i>

                            {% trans 'Delete' %}

                        </a>

                    </div>

                </div>

            </form>

        </div>

    </div>

    <div class="col-md-8">

        {% include 'project/task.html' with project=object %}

    </div>

</div>

{% endblock %}